<div class="uk-container uk-padding">
  <h2> Patient Profile </h2>

  <div>
    <p><b>No: </b><%= @patient.id %></p>
    <p><b>Surname:</b> <%= @patient.surname %></p>
    <p><b>Other Names:</b> <%= @patient.other_names %></p>
    <p><b>Gender:</b> <%= @patient.gender %></p>
    <p><b>Phone Number:</b> <%= @patient.phone_number %></p>
    <p><b>Marital Status:</b> <%= @patient.marital_status %></p>
    <p><b>Email:</b> <%= @patient.email %></p>
    <p><b>Address:</b> <%= @patient.address %></p>
    <p><b>Occupation:</b> <%= @patient.occupation %></p>
    <p><b>Religion:</b> <%= @patient.religion %></p>
    <p><b>Date Of Birth:</b> <%= @patient.date_of_birth %></p>
    <p><b>Next of kin:</b> <%= @patient.next_of_kin %></p>
    <p><b>Assigned Doctor:</b> Dr. <%= @patient.doctor.name.capitalize %></p>
    <p><b>Reports:</b> <%= @patient.reports.count %></p>
  </div>


  <%= link_to "Edit", edit_patient_path(@patient), class: 'uk-button uk-button-primary' %>
  <%= link_to "Delete", @patient, class: 'uk-button uk-button-danger', data: { confirm: "Are you sure"}, method: :delete %>
</div>